<div class="info">
    <table>
      <tbody>
        <tr>
          <th style="width:25%;">Name</th>
          <th style="width:20%;">Population</th>
          <th style="width:15%;">Area</th>
          <th style="width:15%;">Density</th>
          <th style="width:25%;">Capital</th>
        </tr>
        <tr>
          <td>{{featureInfo.name}}</td>
          <td>{{featureInfo.population}}</td>
          <td>{{featureInfo.area}}</td>
          <td>{{featureInfo.density}}</td>
          <td>{{featureInfo.capital}}</td>
        </tr>
      </tbody>
    </table>
  </div>